In [1]:
import pandas as pd

movies_raw = pd.read_csv('../movie-data.csv')
users_raw = pd.read_csv('../users-data.csv')
ratings_raw = pd.read_csv('../ratings-data.csv')

users_raw.set_index('user_id', inplace=True)
movies_raw.set_index('movie_id', inplace=True)

In [2]:
movies_raw.head()

,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,tmdb_id,vote_average,vote_count
movie_id,,,,,,,,,,,,,,,,,
if+you+could+only+cook+1935,0.0,"['Comedy', 'Romance']",tt0026519,en,If You Could Only Cook,An auto engineer (Herbert Marshall) and a prof...,0.430813,['Columbia Pictures'],['United States of America'],1935-12-30,0.0,72,['English'],If You Could Only Cook,126083,6.8,4
the+tattooed+widow+1998,0.0,[],tt0120299,sv,Den tatuerade änkan,Ester is the perfect grandmother everyone expe...,0.012333,[],[],1998-03-10,0.0,0,[],The Tattooed Widow,80059,0.0,0
pride+and+prejudice+1980,0.0,['Drama'],tt0078672,en,Pride and Prejudice,Mrs. Bennet is determined to find husbands for...,0.073979,"['Australian Broadcasting Corporation', 'Briti...","['United Kingdom', 'Australia']",1980-01-13,0.0,265,['English'],Pride and Prejudice,77172,6.8,14
flodder+1986,0.0,['Comedy'],tt0091060,fr,Flodder,A low-class a-social family ends up in a rich ...,6.702840,['First Floor Features'],['Netherlands'],1986-12-17,0.0,111,['Nederlands'],Flodder,10570,6.6,32
cold+turkey+1971,0.0,['Comedy'],tt0066927,en,Cold Turkey,Reverend Brooks leads the town in a contest to...,0.609080,"['Tandem Productions', 'DFI']",['United States of America'],1971-02-19,11000000.0,99,['English'],Cold Turkey,42493,7.5,4

In [3]:
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np
import json

ratings = ratings_raw.join(users_raw, on='user_id', how='left')
ratings = ratings.join(movies_raw, on='movie_id', how='left')

ratings.loc[ratings['genres'].isnull(),['genres']] = ratings.loc[ratings['genres'].isnull(),'genres'].apply(lambda x: '[]')
ratings['genres'] = ratings['genres'].apply(lambda x: np.array(x[1:len(x)-1].replace("'","").replace(" ","").split(',')))
#ratings['genres'] = ratings['genres'].apply(lambda x: tuple(map(tuple, x)))

mlb = MultiLabelBinarizer()
mlb.fit(ratings['genres'])
print(mlb.classes_)
ratings = ratings.join(pd.DataFrame(mlb.transform(ratings['genres']),columns=mlb.classes_))
ratings.head()

['' 'Action' 'Adventure' 'Animation' 'Comedy' 'Crime' 'Documentary'
 'Drama' 'Family' 'Fantasy' 'Foreign' 'History' 'Horror' 'Music' 'Mystery'
 'Romance' 'ScienceFiction' 'TVMovie' 'Thriller' 'War' 'Western']

,movie_id,rating,user_id,age,gender,occupation,budget,genres,imdb_id,original_language,...,History,Horror,Music,Mystery,Romance,ScienceFiction,TVMovie,Thriller,War,Western
0,jackass+the+movie+2002,4,615847,22,M,homemaker,5000000.0,"[Documentary, Comedy]",tt0322802,en,...,0,0,0,0,0,0,0,0,0,0
1,mission+impossible+iii+2006,4,284854,20,M,sales/marketing,150000000.0,"[Adventure, Action, Thriller]",tt0317919,en,...,0,0,0,0,0,0,0,1,0,0
2,good+will+hunting+1997,5,792329,34,M,executive/managerial,10000000.0,[Drama],tt0119217,en,...,0,0,0,0,0,0,0,0,0,0
3,happy+gilmore+1996,3,709941,34,M,college/grad student,12000000.0,[Comedy],tt0116483,en,...,0,0,0,0,0,0,0,0,0,0
4,moulin+rouge+2001,3,531076,23,M,K-12 student,52500000.0,"[Drama, Music, Romance]",tt0203009,en,...,0,0,1,0,1,0,0,0,0,0

In [4]:
# ratings.loc[ratings['production_companies'].isnull(),['production_companies']] = ratings.loc[ratings['production_companies'].isnull(),'production_companies'].apply(lambda x: '[]')
# ratings['production_companies'] = ratings['production_companies'].apply(lambda x: np.array(x[1:len(x)-1].replace("'","").replace(" ","").split(',')))

# mlb = MultiLabelBinarizer()
# mlb.fit(ratings['production_companies'])
# print(mlb.classes_)
# ratings = ratings.join(pd.DataFrame(mlb.transform(ratings['production_companies']),columns=mlb.classes_))
# ratings.head()

In [5]:
ratings.loc[ratings['production_countries'].isnull(),['production_countries']] = ratings.loc[ratings['production_countries'].isnull(),'production_countries'].apply(lambda x: '[]')
ratings['production_countries'] = ratings['production_countries'].apply(lambda x: np.array(x[1:len(x)-1].replace("'","").replace(" ","").split(',')))

mlb = MultiLabelBinarizer()
mlb.fit(ratings['production_countries'])
print(mlb.classes_)
ratings = pd.concat([ratings,pd.DataFrame(mlb.transform(ratings['production_countries']),columns=mlb.classes_)],axis=1)
ratings.head()

['' '"CoteDIvoire"' 'Afghanistan' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Aruba' 'Australia' 'Austria' 'Bahamas' 'Belgium' 'Bhutan'
 'BosniaandHerzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'BurkinaFaso'
 'Cameroon' 'Canada' 'Chile' 'China' 'Colombia' 'Congo' 'CostaRica'
 'Croatia' 'Cuba' 'Cyprus' 'CzechRepublic' 'Czechoslovakia' 'Denmark'
 'DominicanRepublic' 'Ecuador' 'Egypt' 'Estonia' 'Finland' 'France'
 'Georgia' 'Germany' 'Greece' 'HongKong' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Kazakhstan' 'Latvia' 'Lebanon' 'LibyanArabJamahiriya' 'Liechtenstein'
 'Lithuania' 'Luxembourg' 'Macedonia' 'Malaysia' 'Malta' 'Mexico' 'Monaco'
 'Mongolia' 'Morocco' 'Namibia' 'Nepal' 'Netherlands' 'NewZealand'
 'NorthKorea' 'Norway' 'Pakistan' 'PalestinianTerritory' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'PuertoRico'
 'Romania' 'Russia' 'Senegal' 'Serbia' 'SerbiaandMontenegro' 'Singapore'
 'Slovakia' 'Slovenia' 'SouthAfrica' 'SouthKorea' 'SovietUnion' 'Spain'
 'Sweden' 'Switzerland' 'Taiwan' 'Tajikistan' 'Thailand'
 'TrinidadandTobago' 'Tunisia' 'Turkey' 'Ukraine' 'UnitedArabEmirates'
 'UnitedKingdom' 'UnitedStatesofAmerica' 'Uruguay' 'Uzbekistan' 'Vietnam'
 'Zimbabwe']

,movie_id,rating,user_id,age,gender,occupation,budget,genres,imdb_id,original_language,...,Tunisia,Turkey,Ukraine,UnitedArabEmirates,UnitedKingdom,UnitedStatesofAmerica,Uruguay,Uzbekistan,Vietnam,Zimbabwe
0,jackass+the+movie+2002,4,615847,22,M,homemaker,5000000.0,"[Documentary, Comedy]",tt0322802,en,...,0,0,0,0,0,1,0,0,0,0
1,mission+impossible+iii+2006,4,284854,20,M,sales/marketing,150000000.0,"[Adventure, Action, Thriller]",tt0317919,en,...,0,0,0,0,0,1,0,0,0,0
2,good+will+hunting+1997,5,792329,34,M,executive/managerial,10000000.0,[Drama],tt0119217,en,...,0,0,0,0,0,1,0,0,0,0
3,happy+gilmore+1996,3,709941,34,M,college/grad student,12000000.0,[Comedy],tt0116483,en,...,0,0,0,0,0,1,0,0,0,0
4,moulin+rouge+2001,3,531076,23,M,K-12 student,52500000.0,"[Drama, Music, Romance]",tt0203009,en,...,0,0,0,0,0,1,0,0,0,0

In [6]:
ratings.loc[ratings['spoken_languages'].isnull(),['spoken_languages']] = ratings.loc[ratings['spoken_languages'].isnull(),'spoken_languages'].apply(lambda x: '[]')
ratings['spoken_languages'] = ratings['spoken_languages'].apply(lambda x: np.array(x[1:len(x)-1].replace("'","").replace(" ","").split(',')))

mlb = MultiLabelBinarizer()
mlb.fit(ratings['spoken_languages'])
print(mlb.classes_)
ratings = pd.concat([ratings,pd.DataFrame(mlb.transform(ratings['spoken_languages']),columns=mlb.classes_)],axis=1)
ratings.head()

['' 'Afrikaans' 'Azərbaycan' 'Bahasaindonesia' 'Bahasamelayu' 'Bamanankan'
 'Bokmål' 'Bosanski' 'Català' 'Cymraeg' 'Dansk' 'Deutsch' 'Eesti'
 'English' 'Español' 'Esperanto' 'Français' 'Gaeilge' 'Galego' 'Hrvatski'
 'Italiano' 'Kinyarwanda' 'Kiswahili' 'Latin' 'Latviešu' 'Magyar' 'Malti'
 'Nederlands' 'NoLanguage' 'Norsk' 'Polski' 'Português' 'Pусский' 'Română'
 'Slovenčina' 'Slovenščina' 'Somali' 'Srpski' 'TiếngViệt' 'Türkçe' 'Wolof'
 'euskera' 'isiZulu' 'shqip' 'suomi' 'svenska' 'Íslenska' 'Český'
 'ελληνικά' 'Український' 'беларускаямова' 'българскиезик' 'қазақ'
 'עִבְרִית' 'اردو' 'العربية' 'فارسی' 'پښتو' 'हिन्दी' 'বাংলা' 'ਪੰਜਾਬੀ'
 'தமிழ்' 'ภาษาไทย' 'ქართული' '广州话/廣州話' '日本語' '普通话' '한국어/조선말']

,movie_id,rating,user_id,age,gender,occupation,budget,genres,imdb_id,original_language,...,हिन्दी,বাংলা,ਪੰਜਾਬੀ,தமிழ்,ภาษาไทย,ქართული,广州话/廣州話,日本語,普通话,한국어/조선말
0,jackass+the+movie+2002,4,615847,22,M,homemaker,5000000.0,"[Documentary, Comedy]",tt0322802,en,...,0,0,0,0,0,0,0,0,0,0
1,mission+impossible+iii+2006,4,284854,20,M,sales/marketing,150000000.0,"[Adventure, Action, Thriller]",tt0317919,en,...,0,0,0,0,0,0,1,0,1,0
2,good+will+hunting+1997,5,792329,34,M,executive/managerial,10000000.0,[Drama],tt0119217,en,...,0,0,0,0,0,0,0,0,0,0
3,happy+gilmore+1996,3,709941,34,M,college/grad student,12000000.0,[Comedy],tt0116483,en,...,0,0,0,0,0,0,0,0,0,0
4,moulin+rouge+2001,3,531076,23,M,K-12 student,52500000.0,"[Drama, Music, Romance]",tt0203009,en,...,0,0,0,0,0,0,0,0,0,0

In [7]:
mlb = MultiLabelBinarizer()
mlb.fit(ratings['gender'])
print(mlb.classes_)
ratings = pd.concat([ratings,pd.DataFrame(mlb.transform(ratings['gender']),columns=mlb.classes_)],axis=1)
ratings.head()

['F' 'M']

,movie_id,rating,user_id,age,gender,occupation,budget,genres,imdb_id,original_language,...,ਪੰਜਾਬੀ,தமிழ்,ภาษาไทย,ქართული,广州话/廣州話,日本語,普通话,한국어/조선말,F,M
0,jackass+the+movie+2002,4,615847,22,M,homemaker,5000000.0,"[Documentary, Comedy]",tt0322802,en,...,0,0,0,0,0,0,0,0,0,1
1,mission+impossible+iii+2006,4,284854,20,M,sales/marketing,150000000.0,"[Adventure, Action, Thriller]",tt0317919,en,...,0,0,0,0,1,0,1,0,0,1
2,good+will+hunting+1997,5,792329,34,M,executive/managerial,10000000.0,[Drama],tt0119217,en,...,0,0,0,0,0,0,0,0,0,1
3,happy+gilmore+1996,3,709941,34,M,college/grad student,12000000.0,[Comedy],tt0116483,en,...,0,0,0,0,0,0,0,0,0,1
4,moulin+rouge+2001,3,531076,23,M,K-12 student,52500000.0,"[Drama, Music, Romance]",tt0203009,en,...,0,0,0,0,0,0,0,0,0,1

In [8]:
mlb = MultiLabelBinarizer()
mlb.fit([ratings['occupation']])
print(mlb.classes_)
ratings = pd.concat([ratings,pd.DataFrame(mlb.transform(ratings['occupation']),columns=mlb.classes_)],axis=1)
ratings.head()

['K-12 student' 'academic/educator' 'artist' 'clerical/admin'
 'college/grad student' 'customer service' 'doctor/health care'
 'executive/managerial' 'farmer' 'homemaker' 'lawyer'
 'other or not specified' 'programmer' 'retired' 'sales/marketing'
 'scientist' 'self-employed' 'technician/engineer' 'tradesman/craftsman'
 'unemployed' 'writer']

/Users/danielbiales/Documents/cmu/SE for AI/i5-ml-tools/env/lib/python3.8/site-packages/sklearn/preprocessing/_label.py:994: UserWarning: unknown class(es) [' ', '-', '/', '1', '2', 'K', 'a', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y'] will be ignored
  warnings.warn('unknown class(es) {0} will be ignored'

,movie_id,rating,user_id,age,gender,occupation,budget,genres,imdb_id,original_language,...,other or not specified,programmer,retired,sales/marketing,scientist,self-employed,technician/engineer,tradesman/craftsman,unemployed,writer
0,jackass+the+movie+2002,4,615847,22,M,homemaker,5000000.0,"[Documentary, Comedy]",tt0322802,en,...,0,0,0,0,0,0,0,0,0,0
1,mission+impossible+iii+2006,4,284854,20,M,sales/marketing,150000000.0,"[Adventure, Action, Thriller]",tt0317919,en,...,0,0,0,0,0,0,0,0,0,0
2,good+will+hunting+1997,5,792329,34,M,executive/managerial,10000000.0,[Drama],tt0119217,en,...,0,0,0,0,0,0,0,0,0,0
3,happy+gilmore+1996,3,709941,34,M,college/grad student,12000000.0,[Comedy],tt0116483,en,...,0,0,0,0,0,0,0,0,0,0
4,moulin+rouge+2001,3,531076,23,M,K-12 student,52500000.0,"[Drama, Music, Romance]",tt0203009,en,...,0,0,0,0,0,0,0,0,0,0

In [9]:
ratings = ratings.dropna(subset=['release_date'])
ratings['year'] = ratings['release_date'].apply(lambda x: str(x)[:4])
ratings['month'] = ratings['release_date'].apply(lambda x: str(x)[5:7])
ratings = ratings.astype({'year':'int64', 'month':'int64'})
ratings.head()

,movie_id,rating,user_id,age,gender,occupation,budget,genres,imdb_id,original_language,...,retired,sales/marketing,scientist,self-employed,technician/engineer,tradesman/craftsman,unemployed,writer,year,month
0,jackass+the+movie+2002,4,615847,22,M,homemaker,5000000.0,"[Documentary, Comedy]",tt0322802,en,...,0,0,0,0,0,0,0,0,2002,10
1,mission+impossible+iii+2006,4,284854,20,M,sales/marketing,150000000.0,"[Adventure, Action, Thriller]",tt0317919,en,...,0,0,0,0,0,0,0,0,2006,5
2,good+will+hunting+1997,5,792329,34,M,executive/managerial,10000000.0,[Drama],tt0119217,en,...,0,0,0,0,0,0,0,0,1997,12
3,happy+gilmore+1996,3,709941,34,M,college/grad student,12000000.0,[Comedy],tt0116483,en,...,0,0,0,0,0,0,0,0,1996,2
4,moulin+rouge+2001,3,531076,23,M,K-12 student,52500000.0,"[Drama, Music, Romance]",tt0203009,en,...,0,0,0,0,0,0,0,0,2001,3

In [10]:
# from dask.distributed import Client
# client = Client(n_workers=4)
# client

In [11]:
from tpot import TPOTRegressor


X_train = ratings.drop(['movie_id','imdb_id','tmdb_id','genres','user_id','title','overview',
                        'production_companies', 'gender', 'occupation', 'original_language',
                        'original_title','production_countries','release_date', 'spoken_languages','',
                        'rating'], axis=1).dropna()


X_train = X_train
y_train = ratings['rating']

#y_train = y_train.values
# print(X_train.dtypes)

# pipeline_optimizer = TPOTRegressor(generations=10, population_size=50, verbosity=3, random_state=42,
#                                    template='Selector-Transformer-Regressor', n_jobs=8,
#                                    warm_start=True, periodic_checkpoint_folder='../tpot-intermediate-save/')
# pipeline_optimizer.fit(X_train[:10000],y_train[:10000])

In [12]:
#pipeline_optimizer.score(X_train[10001:20000], y_train[10001:20000])

In [13]:

pipeline_optimizer_nn = TPOTRegressor(generations=10, population_size=50, verbosity=3, random_state=42,
                                      template='Selector-Transformer-Regressor',config_dict="TPOT light",# n_jobs=4,
                                     warm_start=True, periodic_checkpoint_folder='../tpot-intermediate-save-2/')
pipeline_optimizer_nn.fit(X_train.head(500000),y_train.head(500000))

20 operators have been imported by TPOT.

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=550.0, style=ProgressStyle(de…

Skipped pipeline #3 due to time out. Continuing to the next pipeline.
Skipped pipeline #9 due to time out. Continuing to the next pipeline.
Skipped pipeline #17 due to time out. Continuing to the next pipeline.
Skipped pipeline #20 due to time out. Continuing to the next pipeline.
Skipped pipeline #22 due to time out. Continuing to the next pipeline.
Skipped pipeline #31 due to time out. Continuing to the next pipeline.
Skipped pipeline #33 due to time out. Continuing to the next pipeline.
Skipped pipeline #38 due to time out. Continuing to the next pipeline.
Skipped pipeline #42 due to time out. Continuing to the next pipeline.
Skipped pipeline #45 due to time out. Continuing to the next pipeline.
Skipped pipeline #49 due to time out. Continuing to the next pipeline.
Skipped pipeline #57 due to time out. Continuing to the next pipeline.
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MinMaxScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by StandardScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by StandardScaler..
_pre_test decorator: _random_mutation_operator: num_test=1 Unsupported set of arguments: The combination of penalty='l2' and loss='epsilon_insensitive' are not supported when dual=False, Parameters: penalty='l2', loss='epsilon_insensitive', dual=False.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Skipped pipeline #88 due to time out. Continuing to the next pipeline.
Skipped pipeline #91 due to time out. Continuing to the next pipeline.
Skipped pipeline #95 due to time out. Continuing to the next pipeline.
Skipped pipeline #97 due to time out. Continuing to the next pipeline.
Skipped pipeline #100 due to time out. Continuing to the next pipeline.
Skipped pipeline #102 due to time out. Continuing to the next pipeline.
Skipped pipeline #106 due to time out. Continuing to the next pipeline.
Skipped pipeline #118 due to time out. Continuing to the next pipeline.

Generation 1 - Current Pareto front scores:
Saving periodic pipeline from pareto front to ../tpot-intermediate-save-2/pipeline_gen_1_idx_0_2020.07.09_09-45-26.py=36)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=5, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by StandardScaler..
_pre_test decorator: _random_mutation_operator: num_test=1 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by StandardScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by StandardScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
Skipped pipeline #136 due to time out. Continuing to the next pipeline.
Skipped pipeline #142 due to time out. Continuing to the next pipeline.

Generation 2 - Current Pareto front scores:
Periodic pipeline was not saved, probably saved before...(SelectPercentile(input_matrix, SelectPercentile__percentile=36)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=5, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Skipped pipeline #185 due to time out. Continuing to the next pipeline.
Skipped pipeline #187 due to time out. Continuing to the next pipeline.
Skipped pipeline #191 due to time out. Continuing to the next pipeline.
Skipped pipeline #193 due to time out. Continuing to the next pipeline.
Skipped pipeline #211 due to time out. Continuing to the next pipeline.
Skipped pipeline #221 due to time out. Continuing to the next pipeline.
Skipped pipeline #223 due to time out. Continuing to the next pipeline.

Generation 3 - Current Pareto front scores:
Periodic pipeline was not saved, probably saved before...(SelectPercentile(input_matrix, SelectPercentile__percentile=36)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=5, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Unsupported set of arguments: The combination of penalty='l2' and loss='epsilon_insensitive' are not supported when dual=False, Parameters: penalty='l2', loss='epsilon_insensitive', dual=False.
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Skipped pipeline #240 due to time out. Continuing to the next pipeline.
Skipped pipeline #249 due to time out. Continuing to the next pipeline.
Skipped pipeline #251 due to time out. Continuing to the next pipeline.
Skipped pipeline #263 due to time out. Continuing to the next pipeline.
Skipped pipeline #266 due to time out. Continuing to the next pipeline.
Skipped pipeline #277 due to time out. Continuing to the next pipeline.
Skipped pipeline #281 due to time out. Continuing to the next pipeline.
Skipped pipeline #283 due to time out. Continuing to the next pipeline.

Generation 4 - Current Pareto front scores:
Periodic pipeline was not saved, probably saved before...(SelectPercentile(input_matrix, SelectPercentile__percentile=36)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=5, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=1 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Skipped pipeline #297 due to time out. Continuing to the next pipeline.
Skipped pipeline #303 due to time out. Continuing to the next pipeline.
Skipped pipeline #306 due to time out. Continuing to the next pipeline.
Skipped pipeline #308 due to time out. Continuing to the next pipeline.
Skipped pipeline #325 due to time out. Continuing to the next pipeline.
Skipped pipeline #330 due to time out. Continuing to the next pipeline.
Skipped pipeline #332 due to time out. Continuing to the next pipeline.
Skipped pipeline #335 due to time out. Continuing to the next pipeline.
Skipped pipeline #338 due to time out. Continuing to the next pipeline.
Skipped pipeline #343 due to time out. Continuing to the next pipeline.

Generation 5 - Current Pareto front scores:
Periodic pipeline was not saved, probably saved before...(SelectPercentile(input_matrix, SelectPercentile__percentile=36)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=5, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MinMaxScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.

Generation 6 - Current Pareto front scores:
Saving periodic pipeline from pareto front to ../tpot-intermediate-save-2/pipeline_gen_6_idx_0_2020.07.09_17-06-33.py22)), DecisionTreeRegressor__max_depth=9, DecisionTreeRegressor__min_samples_leaf=12, DecisionTreeRegressor__min_samples_split=17)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..

Generation 7 - Current Pareto front scores:
Saving periodic pipeline from pareto front to ../tpot-intermediate-save-2/pipeline_gen_7_idx_0_2020.07.09_17-30-01.py=12)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=4, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MinMaxScaler..
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.

Generation 8 - Current Pareto front scores:
Saving periodic pipeline from pareto front to ../tpot-intermediate-save-2/pipeline_gen_8_idx_0_2020.07.09_17-53-25.py12)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=15, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by MaxAbsScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
Pipeline encountered that has previously been evaluated during the optimization process. Using the score from the previous evaluation.

Generation 9 - Current Pareto front scores:
Periodic pipeline was not saved, probably saved before...SelectPercentile(input_matrix, SelectPercentile__percentile=12)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=15, DecisionTreeRegressor__min_samples_split=5)
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..
_pre_test decorator: _random_mutation_operator: num_test=0 Found array with 0 feature(s) (shape=(50, 0)) while a minimum of 1 is required by RobustScaler..

Generation 10 - Current Pareto front scores:
Saving periodic pipeline from pareto front to ../tpot-intermediate-save-2/pipeline_gen_10_idx_0_2020.07.09_18-37-45.py9)), DecisionTreeRegressor__max_depth=10, DecisionTreeRegressor__min_samples_leaf=19, DecisionTreeRegressor__min_samples_split=5)

TPOTRegressor(config_dict='TPOT light', generations=10,
              log_file=<ipykernel.iostream.OutStream object at 0x10fe7cd60>,
              periodic_checkpoint_folder='../tpot-intermediate-save-2/',
              population_size=50, random_state=42,
              template='Selector-Transformer-Regressor', verbosity=3,
              warm_start=True)

In [14]:
pipeline_optimizer_nn.score(X_train[500001:700000], y_train[500001:700000])

-0.9647899279603104